* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4b4b4b;
  color: #f3f3f3;
}

button,
p,
input {
  font-family: "Poppins", sans-serif;
}
button {
  font-weight: 500;
}

p,
input {
  font-weight: 300;
}
